Repository dbbuilder/easyauth: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, core, extensions

.codecov.yml:

# Codecov Configuration for EasyAuth Framework

codecov:
  require_ci_to_pass: true
  max_report_age: 24
  notify:
    after_n_builds: 1
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 90%
        threshold: 2%
        base: auto
        informational: false
        if_ci_failed: error
    patch:
      default:
        target: 85%
        threshold: 5%
        base: auto
        informational: false
        if_ci_failed: error
    changes:
      default:
        target: auto
        base: auto
        if_ci_failed: error

  ignore:
    - "tests/**"
    - "**/*Tests.cs"
    - "**/*Test.cs"
    - "**/Program.cs"
    - "**/GlobalUsings.cs"
    - "**/AssemblyInfo.cs"
    - "src/**/bin/**"
    - "src/**/obj/**"
    - "src/**/Migrations/**"
    - "**/*.generated.cs"
    - "**/wwwroot/**"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, diff, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

github_checks:
  annotations: true

# Flag configuration for different components
flags:
  unittests:
    paths:
      - tests/EasyAuth.Framework.Core.Tests/
    carryforward: false
  
  core:
    paths:
      - src/EasyAuth.Framework.Core/
    carryforward: false
    
  extensions:
    paths:
      - src/EasyAuth.Framework.Extensions/
    carryforward: false

# Critical file profiling
profiling:
  critical_files_paths: 
    - "src/EasyAuth.Framework.Core/Services/EAuthService.cs"
    - "src/EasyAuth.Framework.Core/Providers/**"
    - "src/EasyAuth.Framework.Core/Security/**"

feat: Create comprehensive multi-platform implementation plan
  TODO.md
  nuget.config
Due: none

fix: Resolve Phase 1 build issues and package conflicts
  .dockerignore
  .editorconfig
  CONTRIBUTING.md
  Directory.Build.props
  Dockerfile
  EasyAuth.ruleset
  docker-compose.override.yml
  docker-compose.yml
  global.json
  nuget.config
  scripts/setup-dev-environment.ps1
  src/EasyAuth.Framework.Core/.xml
  src/EasyAuth.Framework.Core/Services/EAuthDatabaseService.cs
  src/EasyAuth.Framework.Extensions/.xml
  tests/EasyAuth.Framework.Core.Tests/EasyAuth.Framework.Core.Tests.csproj
  tests/EasyAuth.Framework.Integration.Tests/EasyAuth.Framework.Integration.Tests.csproj
  tests/EasyAuth.Framework.Performance.Tests/EasyAuth.Framework.Performance.Tests.csproj
  tests/EasyAuth.Framework.Security.Tests/EasyAuth.Framework.Security.Tests.csproj
Due: unittests, core, extensions

feat: Implement Phase 2.1 JavaScript/TypeScript SDK with comprehensive TDD coverage
  .gitignore
  packages/easyauth-js-sdk/README.md
  packages/easyauth-js-sdk/jest.config.js
  packages/easyauth-js-sdk/package-lock.json
  packages/easyauth-js-sdk/package.json
  packages/easyauth-js-sdk/rollup.config.js
  packages/easyauth-js-sdk/src/auth/EasyAuthClient.ts
  packages/easyauth-js-sdk/src/index.ts
  packages/easyauth-js-sdk/src/providers/index.ts
  packages/easyauth-js-sdk/src/types/auth.ts
  packages/easyauth-js-sdk/src/types/errors.ts
  packages/easyauth-js-sdk/src/types/index.ts
  packages/easyauth-js-sdk/src/types/providers.ts
  packages/easyauth-js-sdk/src/utils/CryptoUtils.ts
  packages/easyauth-js-sdk/src/utils/EventEmitter.ts
  packages/easyauth-js-sdk/src/utils/StateManager.ts
  packages/easyauth-js-sdk/src/utils/StorageManager.ts
  packages/easyauth-js-sdk/src/utils/URLValidator.ts
  packages/easyauth-js-sdk/src/utils/index.ts
  packages/easyauth-js-sdk/tests/setup.ts
  packages/easyauth-js-sdk/tests/unit/EasyAuthClient.test.ts
  packages/easyauth-js-sdk/tsconfig.build.json
  packages/easyauth-js-sdk/tsconfig.json
Due: none

fix: Complete Phase 1 build system improvements and package updates
  Directory.Build.props
  tests/EasyAuth.Framework.Core.Tests/EasyAuth.Framework.Core.Tests.csproj
  tests/EasyAuth.Framework.Performance.Tests/EasyAuth.Framework.Performance.Tests.csproj
  tests/EasyAuth.Framework.Security.Tests/EasyAuth.Framework.Security.Tests.csproj
Due: unittests

feat: Complete Phase 2 TDD JavaScript SDK implementation
  packages/easyauth-js-sdk/tests/unit/EasyAuthClient.test.ts
Due: none

fix: Resolve Phase 1 StyleCop code quality warnings
  src/EasyAuth.Framework.Core/Configuration/EAuthOptions.cs
  src/EasyAuth.Framework.Core/Extensions/ServiceCollectionExtensions.cs
  src/EasyAuth.Framework.Core/Providers/AppleAuthProvider.cs
  src/EasyAuth.Framework.Core/Providers/AzureB2CAuthProvider.cs
  src/EasyAuth.Framework.Core/Providers/FacebookAuthProvider.cs
  src/EasyAuth.Framework.Core/Providers/GoogleAuthProvider.cs
  src/EasyAuth.Framework.Core/Services/EAuthDatabaseService.cs
  src/EasyAuth.Framework.Core/Services/EAuthProviderFactory.cs
Due: core

fix: Improve JavaScript SDK TypeScript configuration
  packages/easyauth-js-sdk/tsconfig.json
Due: none

feat: Complete comprehensive integration test implementation
  tests/EasyAuth.Framework.Integration.Tests/BaseIntegrationTest.cs
  tests/EasyAuth.Framework.Integration.Tests/DatabaseIntegrationTests.cs
  tests/EasyAuth.Framework.Integration.Tests/EasyAuthServiceIntegrationTests.cs
  tests/EasyAuth.Framework.Integration.Tests/ProviderAuthenticationFlowTests.cs
Due: none

fix: Update FacebookUserInfo type to exclude conflicting picture property
  packages/easyauth-js-sdk/src/types/providers.ts
Due: none

feat: Add comprehensive utility class test coverage
  packages/easyauth-js-sdk/tests/unit/utils/CryptoUtils.test.ts
  packages/easyauth-js-sdk/tests/unit/utils/EventEmitter.test.ts
  packages/easyauth-js-sdk/tests/unit/utils/StateManager.test.ts
  packages/easyauth-js-sdk/tests/unit/utils/StorageManager.test.ts
  packages/easyauth-js-sdk/tests/unit/utils/URLValidator.test.ts
Due: none

fix: Consolidate test project package references and resolve duplicates
  Directory.Build.props
  tests/EasyAuth.Framework.Core.Tests/EasyAuth.Framework.Core.Tests.csproj
  tests/EasyAuth.Framework.Integration.Tests/EasyAuth.Framework.Integration.Tests.csproj
  tests/EasyAuth.Framework.Performance.Tests/EasyAuth.Framework.Performance.Tests.csproj
  tests/EasyAuth.Framework.Security.Tests/EasyAuth.Framework.Security.Tests.csproj
Due: unittests

fix: Resolve JavaScript SDK test issues
  packages/easyauth-js-sdk/src/utils/StateManager.ts
  packages/easyauth-js-sdk/tests/setup.ts
Due: none

feat: Implement GoogleAuthProvider with comprehensive OAuth 2.0 and PKCE support
  packages/easyauth-js-sdk/src/providers/GoogleAuthProvider.ts
  packages/easyauth-js-sdk/src/providers/index.ts
  packages/easyauth-js-sdk/src/types/providers.ts
  packages/easyauth-js-sdk/tests/unit/providers/GoogleAuthProvider.test.ts
Due: none

fix: Resolve integration test initialization race condition
  tests/EasyAuth.Framework.Integration.Tests/BaseIntegrationTest.cs
Due: none

feat: Upgrade JavaScript SDK testing from manual mocks to real browser simulation
  packages/easyauth-js-sdk/src/utils/StorageManager.ts
  packages/easyauth-js-sdk/tests/setup.ts
  packages/easyauth-js-sdk/tests/unit/utils/StorageManager.test.ts
Due: none

feat: Add comprehensive SonarCloud integration for multi-language analysis
  .github/workflows/README.md
  .github/workflows/sonarcloud-test.yml
  .github/workflows/sonarcloud.yml
  scripts/run-sonar-analysis.ps1
  sonar-project.properties
Due: none

fix: Allow SonarCloud analysis to continue despite test failures
  .github/workflows/sonarcloud.yml
Due: none

fix: Use proper PowerShell syntax for error handling in SonarCloud workflow
  .github/workflows/sonarcloud.yml
Due: none

fix: Resolve SonarCloud configuration conflicts for proper analysis
  coverage.settings
  sonar-project.properties
Due: none

feat: Implement unified configuration service and fix critical security/quality issues
  .dockerignore
  Dockerfile
  docs/NuGet-Deployment-Guide.md
  src/EasyAuth.Framework.Core/.xml
  src/EasyAuth.Framework.Core/Configuration/EAuthOptions.cs
  src/EasyAuth.Framework.Core/Controllers/EAuthController.cs
  src/EasyAuth.Framework.Core/Database/Scripts/EAuth_CreateSession.sql
  src/EasyAuth.Framework.Core/Database/Scripts/EAuth_GetUserProfile.sql
  src/EasyAuth.Framework.Core/Database/Scripts/EAuth_InvalidateSession.sql
  src/EasyAuth.Framework.Core/Database/Scripts/EAuth_UpsertUser.sql
  src/EasyAuth.Framework.Core/Database/Scripts/EAuth_ValidateSession.sql
  src/EasyAuth.Framework.Core/Database/Scripts/create_audit_log_table.sql
  src/EasyAuth.Framework.Core/Database/Scripts/create_schema_and_metadata.sql
  src/EasyAuth.Framework.Core/Database/Scripts/create_user_accounts_table.sql
  src/EasyAuth.Framework.Core/Database/Scripts/create_user_roles_table.sql
  src/EasyAuth.Framework.Core/Database/Scripts/create_user_sessions_table.sql
  src/EasyAuth.Framework.Core/Database/Scripts/create_users_table.sql
  src/EasyAuth.Framework.Core/EasyAuth.Framework.Core.csproj
  src/EasyAuth.Framework.Core/Extensions/ServiceCollectionExtensions.cs
  src/EasyAuth.Framework.Core/Models/EAuthModels.cs
  src/EasyAuth.Framework.Core/Models/TokenResponse.cs
  src/EasyAuth.Framework.Core/Providers/AppleAuthProvider.cs
  src/EasyAuth.Framework.Core/Providers/AzureB2CAuthProvider.cs
  src/EasyAuth.Framework.Core/Providers/FacebookAuthProvider.cs
  src/EasyAuth.Framework.Core/Providers/GoogleAuthProvider.cs
  src/EasyAuth.Framework.Core/Services/ConfigurationService.cs
  src/EasyAuth.Framework.Core/Services/EAuthDatabaseService.cs
  src/EasyAuth.Framework.Core/Services/EAuthProviderFactory.cs
  src/EasyAuth.Framework.Core/Services/EAuthService.cs
  src/EasyAuth.Framework.Core/Services/IConfigurationService.cs
  src/EasyAuth.Framework.Core/Services/IEAuthDatabaseService.cs
  src/EasyAuth.Framework.Core/Services/IEAuthProvider.cs
  src/EasyAuth.Framework.Core/Services/IEAuthService.cs
  src/EasyAuth.Framework.Extensions/EasyAuth.Framework.Extensions.csproj
  src/EasyAuth.Framework.Extensions/ServiceCollectionExtensions.cs
Due: core, extensions

fix: Address critical SonarCloud blocker issues
  packages/easyauth-js-sdk/src/auth/EasyAuthClient.ts
  src/EasyAuth.Framework.Core/Providers/AppleAuthProvider.cs
  tests/EasyAuth.Framework.Integration.Tests/DatabaseIntegrationTests.cs
Due: core

ci: Add automated NuGet package publishing workflow
  .github/workflows/nuget-publish.yml
Due: none

fix: Allow warnings in NuGet publishing workflow
  .github/workflows/nuget-publish.yml
Due: none

feat: Fix JavaScript SDK tests and improve code quality
  packages/easyauth-js-sdk/.eslintrc.cjs
  packages/easyauth-js-sdk/.prettierrc.js
  packages/easyauth-js-sdk/jest.config.cjs
  packages/easyauth-js-sdk/package-lock.json
  packages/easyauth-js-sdk/package.json
  packages/easyauth-js-sdk/rollup.config.js
  packages/easyauth-js-sdk/src/auth/EasyAuthClient.ts
  packages/easyauth-js-sdk/src/providers/GoogleAuthProvider.ts
  packages/easyauth-js-sdk/src/providers/index.ts
  packages/easyauth-js-sdk/src/types/auth.ts
  packages/easyauth-js-sdk/src/types/errors.ts
  packages/easyauth-js-sdk/src/types/index.ts
  packages/easyauth-js-sdk/src/types/providers.ts
  packages/easyauth-js-sdk/src/utils/CryptoUtils.ts
  packages/easyauth-js-sdk/src/utils/EventEmitter.ts
  packages/easyauth-js-sdk/src/utils/StateManager.ts
  packages/easyauth-js-sdk/src/utils/StorageManager.ts
  packages/easyauth-js-sdk/src/utils/URLValidator.ts
  packages/easyauth-js-sdk/tests/unit/EasyAuthClient.test.ts
  packages/easyauth-js-sdk/tests/unit/providers/index.test.ts
  packages/easyauth-js-sdk/tests/unit/types/errors.test.ts
  packages/easyauth-js-sdk/tests/unit/utils/CryptoUtils.test.ts
  packages/easyauth-js-sdk/tests/unit/utils/StorageManager.test.ts
  packages/easyauth-js-sdk/tests/unit/utils/URLValidator.test.ts
  packages/easyauth-js-sdk/tsconfig.build.json
Due: none

fix: Remove hardcoded package release notes to use centralized version from Directory.Build.props
  src/EasyAuth.Framework.Core/EasyAuth.Framework.Core.csproj
  src/EasyAuth.Framework.Extensions/EasyAuth.Framework.Extensions.csproj
Due: core, extensions

docs: Add comprehensive troubleshooting guide for EasyAuth Framework
  TROUBLESHOOTING.md
Due: none

feat: EasyAuth Framework v2.3.0 - Zero-Configuration Release
  Directory.Build.props
  EasyAuth-Enhancement-Recommendations.md
  EasyAuth-Standalone-Requirements.md
  src/EasyAuth.Framework.Core/.xml
  src/EasyAuth.Framework.Core/Configuration/CorsConfiguration.cs
  src/EasyAuth.Framework.Core/Configuration/EasyAuthDefaults.cs
  src/EasyAuth.Framework.Core/Extensions/ApplicationBuilderExtensions.cs
  src/EasyAuth.Framework.Core/Extensions/ServiceCollectionExtensions.cs
Due: core

fix: Critical fix for duplicate CorrelationIdMiddleware registration (v2.3.1)
  Directory.Build.props
  github-issue-middleware-bug.md
  last_version.txt
  monitor-easyauth.sh
  src/EasyAuth.Framework.Core/Extensions/CorsExtensions.cs
  v2.3.0-upgrade-plan.md
Due: core

docs: Add comprehensive GitHub Issue #1 resolution documentation
  github-issue-response.md
Due: none

feat: EasyAuth Framework v2.4.2 - Security & Excellence Release
  CHANGELOG.md
  COMPLETE_INTEGRATION_GUIDE.md
  Directory.Build.props
  PHASE_STATUS_SUMMARY.md
  SECURITY_FIXES_SUMMARY.md
  SECURITY_VULNERABILITY_REPORT.md
  TODO.md
  packages/react-demo/package-lock.json
  packages/react-demo/package.json
  packages/react/package-lock.json
  packages/vue/package-lock.json
  src/EasyAuth.Framework.Core/EasyAuth.Framework.Core.csproj
  src/EasyAuth.Framework.Core/Providers/AppleAuthProvider.cs
  src/EasyAuth.Framework.Core/Providers/FacebookAuthProvider.cs
  src/EasyAuth.Framework.Core/Providers/GoogleAuthProvider.cs
  src/EasyAuth.Framework.Core/Security/CsrfProtectionMiddleware.cs
  src/EasyAuth.Framework.Core/Security/InputValidationMiddleware.cs
  src/EasyAuth.Framework.Core/Security/RateLimitingMiddleware.cs
  src/EasyAuth.Framework.Extensions/EasyAuth.Framework.Extensions.csproj
  tests/EasyAuth.Framework.Core.Tests/Providers/AppleAuthProviderTests.cs
  tests/EasyAuth.Framework.Core.Tests/Providers/FacebookAuthProviderTests.cs
  tests/EasyAuth.Framework.Integration.Tests/BaseIntegrationTest.cs
  tests/EasyAuth.Framework.Integration.Tests/DatabaseIntegrationTests.cs
  tests/EasyAuth.Framework.Integration.Tests/DatabaseSessionIntegrationTests.cs
  tests/EasyAuth.Framework.Integration.Tests/EasyAuth.Framework.Integration.Tests.csproj
  tests/EasyAuth.Framework.Performance.Tests/AuthenticationPerformanceTests.cs
  tests/EasyAuth.Framework.Performance.Tests/EasyAuth.Framework.Performance.Tests.csproj
  tests/EasyAuth.Framework.Performance.Tests/GracefulDegradationTests.cs
  tests/EasyAuth.Framework.Performance.Tests/Infrastructure/TestWebApplication.cs
  tests/EasyAuth.Framework.Performance.Tests/ProviderPerformanceTests.cs
  tests/EasyAuth.Framework.Performance.Tests/SecurityPerformanceTests.cs
  tests/EasyAuth.Framework.Security.Tests/EasyAuth.Framework.Security.Tests.csproj
Due: unittests, core, extensions

fix: Update GitHub Actions workflow to support .NET 8 and .NET 9 dual targeting
  .github/workflows/nuget-publish.yml
Due: none

fix: Update all GitHub Actions workflows to support .NET 8 and .NET 9 dual targeting
  .github/workflows/package-publish.yml
  .github/workflows/release.yml
Due: none

fix: Update NuGet publish workflow to skip problematic performance tests
  .github/workflows/nuget-publish.yml
Due: none

fix: Build projects before packing in NuGet workflow
  .github/workflows/nuget-publish.yml
Due: none

fix: StyleCop violations - correct using directive order, add blank lines, rename file
  src/EasyAuth.Framework.Core/Configuration/EAuthCorsConfiguration.cs
Due: core

fix: NuGet workflow - build before pack, suppress warnings as errors
  .github/workflows/nuget-publish.yml
Due: none
